<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devan.remedaily">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.AddNewMedicineActivity"
            android:label="Add Medicine"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".View.MainActivity"
            android:label="Main Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserDetails"
            android:label="Add Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Home"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Hamburger"
            android:label="Main Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.EditUserDetails"
            android:label="Edit User Details" />

        <activity
            android:name=".View.Calender"
            android:label="Calender"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".View.SettingsHome"
            android:label="@string/app_name_settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".View.SettingsResetApplication"
            android:label="@string/app_name_settings"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- This section configures drug box image saving feature
        source : https://developer.android.com/training/camera/photobasics
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".View.Camera"
            android:label="Camera"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.Help"
            android:label="Help and Support"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>